{
    "extends": ["react-app", "plugin:prettier/recommended"],
    "semi": true,
    "tabWidth": 2,
    "endOfLine": "lf",
    "arrowParens": "avoid",
    "singleQuote": true,
    "trailingComma": "all"
  }
  